<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width">
        <title>
            TWICE掲示板
        </title>
        <link rel="stylesheet/less" type="text/css" href="../CSS/styles.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.5.0-beta.5/less.min.js" ></script>
        <link rel="shortcut icon" href="image/TWICE.ico">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">TWICE掲示板</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <% if !current_user.nil? %>
                        <li>こんにちは、<%= current_user.name %>さん</li>
                        <li><a href="/signout">ログアウト</a></li>
                    <% else %>
                        <li>新規ユーザーですか?</li>
                        <li><a href="/signin">ログイン</a></li>
                        <li><a href="/signup">新規登録</a></li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <div class="outer-menu">
            <input class="checkbox-toggle" type="checkbox" />
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                  <div>
                    <ul>
                      <li><a href="/">メンバープロフィール</a></li>
                      <li><a href="/page2">CD・アルバム</a></li>
                      <li><a href="/suke">スケジュール画面</a></li>
                      <li><a href="/anke">アンケートページ</a></li>
                      <li><a href="/answers">アンケート回答一覧</a></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <center  style="background:white;">
            <font style="color:blue;" size="6">
                投稿一覧
            </font>
        </center>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous">
                    <a href="/page2">
                        前のページへ
                    </a>
                </li>
                <li class="next">
                    <a href="/suke">
                        次のページへ
                    </a>
                </li>
            </ul>
        </nav>
        <div>
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <td>
                            <a href="/tasks/new">
                                新しい投稿
                            </a>
                        </td>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ユーザー名</th>
                                <th>タイトル</th>
                                <th>メモ</th>
                                <th>画像</th>
                                <th>いいね</th>
                                <th>メモ投稿</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @tasks.each do |task| %>
                                <tr>
                                    <td>
                                        <% user = User.find(task.user_id) %>
                                        <%= user.name %>
                                    </td>
                                    <td>
                                        <%= CGI.escapeHTML(task.title) %>
                                    </td>
                                    <td>
                                        <%= task.comment %>
                                    </td>
                                    <td>
                                        <% unless task.img.empty? %>
                                            <p><img src="<%= task.img %>" width="150" height="150"></p>
                                        <% end %>
                                    </td>
                                    <td>
                                        <a href="/tasks/<%= task.id %>/star">
                                            <% if task.star %>
                                                <button type="submit" class="btn">
                                                    <i style="color:red;" class="glyphicon glyphicon-heart"></i>
                                                </button>
                                            <% else %>
                                                <button type="submit" class="btn">
                                                    <i style="color:black;" class="glyphicon glyphicon-heart"></i>
                                                </button>
                                            <% end %>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="square_btn3" href="/tasks/<%= task.id %>/edit">
                                            メモ投稿
                                        </a>
                                    </td>   
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p id="pageTop">
            <a href="#">
                <i class="fas fa-arrow-up"></i>
            </a>
        </p>
        <script type="text/javascript" src="TWICE.js"></script>
    </body>
</html>